<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ma Sói - Đêm</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Đêm <span id="night-number"></span></h1>

        <table>
            <thead>
                <tr>

                </tr>
            </thead>
            <tbody id="player-table">
            </tbody>
        </table>

        <template id="role-options">
            <option value>Chọn vai trò</option>
            <option value="tientri">Tiên tri</option>
            <option value="soiquy">Sói quỷ</option>
            <option value="soitientri">Sói tiên tri</option>
            <option value="masoi">Ma sói</option>
            <option value="baove">Bảo vệ</option>
            <option value="phuthuy">Phù thủy</option>
            <option value="thosan">Thợ săn</option>
            <option value="thantinhyeu">Thần tình yêu</option>
            <option value="danlang">Dân làng</option>
            <option value="thienthan">Thiên thần</option>
        </template>

        <button onclick="nextPhase()">Tiếp tục</button>

        <script src="{{ url_for('static', filename='js/night.js') }}"></script>
    </body>
</html>
